
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --background-color: rgb(255, 255, 255);
    --text-white-color: rgb(255, 255, 255);
    --text-black-color:rgb(56, 56, 56);
    --hyphen-color:rgb(194, 161, 138);
    --text-ordinary-color: rgb(116,116,116);
    --border-color:
    --font-family: "EB garamont", sans-serif;
    scroll-behavior: smooth;
  }
  .promo-partial {
  background: url("/img/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  }
  .brand{
    flex:2;
  }
  .menue_labels{
    display:flex;
    justify-content: space-around;
    flex:1;
  }
  .menue__main{
    color: var(--text-white-color);
    font-size: 18px;
  }
  .banner{
    display:flex;
  }
  .banner__content{
    width:1500px;
    padding:180px 0px 225px 0px;
    display:flex;
    justify-content: center;
  }  
  .banner__part-busy{
    width: 570px;
    height: 406px;
    background-color:var(--background-color);
    margin: 0px 15px 0px 15px; 
    padding: 45px 45px 45px 45px;   
  }
  .banner__part-empty{
    width: 570px;
    height: 406px;
    margin: 0px 15px 0px 15px;
  }
  .buttons__container{
    display: flex;
  }
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
  }
  .upper-tier{
    padding: 20px 15px 20px 15px;
    border-bottom: 0.5px solid var(--text-color);
  }
  .lower-tier{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2px 30px 2px;
  }
  body {
    background-color: var(--background-color);
  }
  h1, a {
    color: var(--text-color);
  }
  .big__statements{
    color: var(--text-color);
    font-size: 60px;
  }
  .hyphen{
    font-size: 90px;
    color: var(--hyphen-color);
  }
  .ortinary__text{
    color: var(--text-ordinary-color);
    font-size: 19px;
  }
  .category__titles{
    color: var(--text-color);
  }
  .qotation__text{
    color: var(--text-color);
  }
  .button_shop{
    color: var(--text-black-color);
    border: 3px solid;
    margin: 15px 15px 15px 0px;
  }

  .button__ordinary{
    color: var(--text-black-color);
    border: 3px solid;
   
  }
  @media (min-width: 320px){
    .main-image{
  }
}